:root{
    --title-font: 'Alegreya Sans SC', sans-serif;
    --sans-font: 'Black Han Sans', sans-serif;
    --mono-font: 'Monomaniac One', serif;
}
/* div, h1, h2, h3, ul, li{
    border: none !important
} */