.pagination-pill .page-link{
    border: none;
    padding: 15px 2px 0px 2px;
    border-radius: 50px;    
   background: var(--ui-background-color); 
   color: white;
   font-family: var(--mono-font);
   font-size: 12pt;
}
    .pagination-pill .page-link:hover{
        background: white;
        color: red;
        cursor: pointer;
    }
    .pagination-pill.active > .page-link{
        background: white;
        color: red;
    }

/* Mobile */
@media only screen and (max-width: 992px){
    .pagination-pill{
        margin: 0px 8px 0px 8px;
    }
    .pagination-pill .page-link{
        padding-right: 5px;
        padding-left: 5px;
        font-size: 9pt;
    }
}