.app{
    background: linear-gradient(-45deg, #8D7AFF, rgba(168, 154, 255, 0.95), rgba(206, 198, 255, 0.88));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}