@media screen and (min-width: 992px){
    .app{
        height: 100vh;
        background: linear-gradient(180deg, #E40E0E 0%, #3A0E0E 50%, #d3d3d3 100%);
    }
}

@media screen and (max-width: 992px){
    .app{
        background: linear-gradient(180deg, #E40E0E 0%, #3A0E0E 85%, #d3d3d3 100%);
    }
}

.arrows-ui{
    z-index: 3;
    position: sticky;
    top: 50vh;
    left: 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
}