.arrow{
    cursor: pointer;
    font-size: 60px;
    transition: all 0.5s;
    color: lightblue;
    opacity: 0.5;
}
    .arrow :hover, .arrow :active{
        transition: all 0.5s;
        color: blue;
        opacity: 1;
        scale: 1.5;
    }