.total-stat{
    margin-top: auto;
    color: white;
    font-family: var(--mono-font);
}
    .total-stat h4{
        text-align: center;
        font-size: 20px;
        text-decoration: underline;
    }
    .total-stat .total-stat-value{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 6.84%, rgba(221, 44, 44, 0.50) 51.96%, #F51818 100%);
        padding-top: 50%;                
        border-radius: 30px 30px 10px 10px;
        text-align: center;
    }