.pokemon-evolution-trigger{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-family: var(--mono-font);
}