@media screen and (min-width: 992px){
    .pokedex-search{
        background: linear-gradient(180deg, #E40E0E 0%, #3A0E0E 50%, #d3d3d3 100%);
    }
}

@media screen and (max-width: 992px){
    .pokedex-search{
        background: linear-gradient(180deg, #E40E0E 0%, #3A0E0E 85%, #d3d3d3 100%);
    }
}

.pokedex-search{
    height: 100%;
}
.arrows-ui{
    z-index: 3;
    position: sticky;
    top: 50vh;
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
}