.pokemon-evolution-form{
    border: solid black;    
}
    .form-name{
        text-align: center;
        color: white;
        text-transform: capitalize;
        font-family: var(--mono-font);
        font-size: 16px;
    }
    .form-image-container{
        border: solid black;        
        max-width: 145px;
        min-width: 145px;
        border-radius: 145px;        
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin: auto;
    }