@media only screen and (max-width: 992px){
    #pokedex-list{
        transition: all 100ms linear;
        margin-top: 100px;        
    }    
    #pokedex-list.high-margin{
        transition: all 100ms linear;
        margin-top: 250px;
    }    
}

    #pokedex-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0px;
    }