/* .pokedex{

} */
    #pokedex-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #pokedex-page.show{
        display: block;
    }
    #pokedex.hide{
        display: none;
    }