.search-results{
    text-transform: none;
    text-align: left;       
    font-size: 14pt;    
}
    .query-section{        
        margin: 30px 20px 10px 20px;                
        padding-top: 10px;        
        text-indent: 20px;            
    }
    .matches-list{
        position: relative;
        top: -40px;        
        left: 30px;
        display: flex;
        flex-direction: column;                
        justify-content: space-between;
        overflow-x: hidden;        
    }