.pokemon-page{
    border: solid black;
    display: flex;
    flex-direction: column;    
}
    .pokemon-page .header-container{
        margin-top: 10px;
    }
    .pokemon-page .body-container{
        margin-top: 20px;
    }
        .pokemon-page > div, .image-container{
            border: solid white;
        }